PORT=5000

# Supabase REST API (for client operations)
SUPABASE_URL=https://dchhrzmdskrclzxhztci.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjaGhyem1kc2tyY2x6eGh6dGNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0NjIyODEsImV4cCI6MjA5OTAzODI4MX0.1PWgpdHTDUFx87OW2ArqbBK6CDh1vedVq7lW9P05boY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjaGhyem1kc2tyY2x6eGh6dGNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzQ2MjI4MSwiZXhwIjoyMDk5MDM4MjgxfQ._Msicnp6Dde6LddI3JkRmpMeSUq5ztBmpYkpbyc5GXI


#  PostgreSQL Connection pooling
DATABASE_URL=postgresql://postgres.dchhrzmdskrclzxhztci:bL.D5KQh,KL7aaU@aws-1-eu-west-2.pooler.supabase.com:6543/postgres
DB_HOST=supabase_host_name
DB_PORT=6543
DB_DATABASE=postgres
DB_USER=supabase_db_user
DB_PASSWORD=supabase_db_password


# Google OAuth
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret
GOOGLE_REDIRECT_URI=google_dirext_url

#Gemini
GEMINI_API_KEY=gemini_api_key

#Resend
RESEND_API_KEY=resend_api_key

# Cloudinary
CLOUDINARY_CLOUD_NAME=cloudinary_loud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_secret_key


# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=myemail@gmail.com
SMTP_PASS=gmail_app_password
SMTP_FROM="Don't Trash It" <noreply@donttrashit.com>


# Frontend URL
FRONTEND_URL=http://localhost:5173
NODE_ENV=development








